.parent-container-position {
  position: relative; /* Serves as the anchor point for the child */
}

.aligned-element-position {
  position: absolute;
  right: 50%;           /* Locks it to the right edge */
  top: 50%;
  transform: translateY(-50%); /* Perfect vertical centering */
}

/*  VIEWPORT  */
/* https://www.w3schools.com/html/tryit.asp?filename=tryhtml_responsive_page */
.parent-container-viewport {
  width: 100%;
}

.menu-item {
  text-align: center;
}

* {
  box-sizing: border-box;
}
.menu {
  float: left;
  width: 20%;
}
.menuitem {
  padding: 8px;
  margin-top: 7px;
  border-bottom: 1px solid #f1f1f1;
}
.main {
  float: left;
  width: 60%;
  padding: 0 20px;
  overflow: hidden;
}
.right {
  background-color: lightblue;
  float: left;
  width: 20%;
  padding: 10px 15px;
  margin-top: 7px;
}

@media only screen and (max-width:800px) {
  /* For tablets: */
  .main {
    width: 80%;
    padding: 0;
  }
  .right {
    width: 100%;
  }
}
@media only screen and (max-width:500px) {
  /* For mobile phones: */
  .menu, .main, .right {
    width: 100%;
  }
}

.parent-container {
  display: flex;
  align-items: center; /* Vertically centers all inline elements */
}

.aligned-left {
  margin-left: auto; /* Pushes this element to the absolute right side */
}

.aligned-right {
  margin-right: auto; /* Pushes this element to the absolute left side */
}

/*
   DISPPLAY: https://www.w3schools.com/css/css_display.asp
   FLOAT: https://www.w3schools.com/css/css_float.asp
*/
p {
  background-color: blue;
  padding: 10px;
}

span {
  background-color: red;
  color: white;
  padding: 10px;
}

.none {display: none;}
.inline {display: inline;}
.block {display: block;}
.inline-block {display: inline-block;}

.flex-container {
  display: flex;
  flex-wrap: nowrap;
  gap: 10px;
}

.item {
  vertical-align: middle;
  text-align: center;
  width: 100px;
  height: 30px;
  background-color: yellow;
  /*flex: 0 0 calc(25%);*/
}

div.flex div {
margin: 5px;
}

.grid {display: grid;}

.float-left {
    float:left;
}

.float-right {
    float:right;
}

.align-middle {
    align: center;
}