/* 
    MDN | Using media queries: https://developer.mozilla.org/en-US/docs/Web/CSS/Guides/Media_queries/Using

    CSS Tip | Get the screen width & height without JavaScript: https://css-tip.com/screen-dimension/
*/

* {
    /* align all emements & set the font */
    align-content: center;
    vertical-align: middle;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    /* give the web page the fulle screen to use */
    width: 100vw;       /* Takes up 100% of the screen width */
    height: 100vh;      /* Takes up 100% of the screen height */
}

h2 {
    /* style the headings for website examples */
    margin: 10%;
}